template(name="gallery")
	.gallery-container
		.gallery
			.prev
			.next
			.frame
				ul
					li
						.loading
						img.image(src="http://lorempixel.com/800/800/city/?rand=1", alt=offer.address)
					li
						.loading
						img.image(src="http://lorempixel.com/800/800/city/?rand=2", alt=offer.address)
					li
						.loading
						img.image(src="http://lorempixel.com/800/800/city/?rand=3", alt=offer.address)
					li
						.loading
						img.image(src="http://lorempixel.com/800/800/city/?rand=4", alt=offer.address)
					li
						.loading
						img.image(src="http://lorempixel.com/800/800/city/?rand=5", alt=offer.address)
					li
						.loading
						img.image(src="http://lorempixel.com/800/800/city/?rand=6", alt=offer.address)
					li
						.loading
						img.image(src="http://lorempixel.com/800/800/city/?rand=7", alt=offer.address)
					li
						.loading
						img.image(src="http://lorempixel.com/800/800/city/?rand=8", alt=offer.address)
					li
						.loading
						img.image(src="http://lorempixel.com/800/800/city/?rand=9", alt=offer.address)
					li
						.loading
						img.image(src="http://lorempixel.com/800/800/city/?rand=10", alt=offer.address)
					li
						.loading
						img.image(src="http://lorempixel.com/800/800/city/?rand=11", alt=offer.address)
					li
						.loading
						img.image(src="http://lorempixel.com/800/800/city/?rand=12", alt=offer.address)
						
	ul.gallery-pages